#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: url('/images/portada.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}

.logo {
  background-color: aliceblue;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card {
  padding: 2em;
}